# Kopiraj ovaj fajl u .env i popuni svoje ključeve
# NAPOMENA: Nikada ne commitujem .env sa pravim ključevima!

TELEGRAM_TOKEN=your_telegram_token_here
GOOGLE_API_KEY=your_google_api_key_here
STRIPE_LINK=https://buy.stripe.com/your_link_here
